LangWCFTEST/Connected Services/ServiceQ/ClassLibrarLanguage.model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrarLanguage.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrarLanguage.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentNbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="tns:Student" />
      <xs:element minOccurs="0" name="_quests" nillable="true" type="tns:ArrayOfQuest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfQuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quest" nillable="true" type="tns:Quest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuest" nillable="true" type="tns:ArrayOfQuest" />
  <xs:complexType name="Quest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:Question" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quest" nillable="true" type="tns:Quest" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Awnser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Problem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>